html {
  background: url(Images/BlackjackTable.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: yellow;
}

h1, h2 {
  text-align: center;
}


div {
  text-align: center;
}

img {
  height: auto;
  max-width: 14%;
}

input[type="text"] {
  background-color: #dde0da;
  width: 50px;
}

input[type="button"] {
  /* background-color: #dde0da; */
  width: 100px;
}

input[type='checkbox']:checked {
    accent-color: #dde0da;
}

.activeHand {
  background-color: #32a852;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: calc(100vh - 90px);
}

.cardarea {
  align-items: center;
  height: 145px;
  margin-bottom: 1px;
}

.inline-half {
  width: 49%;
}

.inline-third {
  width: 33%;
}

.block {
  width: 100%;
}

.control {
  border: 1px solid black;
  margin-bottom: 1px;
  margin: auto;
  padding: 5px;
  width: 100%;
}

.readout {
  border: 1px solid black;
  height: 80px;
  margin-bottom: 1px;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

.row {
  align-items: center;
  display: block;
  width: 100%;
}

.column {
  align-items: center;
  display: inline-block;
  min-height: 5px;
  width: 100%;
}

.column-inline {
  display: inline;
  /* justify-content: center; */
  /* width: 100%; */
}

.player-controls {
  margin: 0 10 0 10;
}

.label {
  /* float: left; */
  display: inline-block;
  margin-left: 5px;
  width: 50px;
}

.output {
  /* float: left; */
  text-align: right;
  width: 60%;
}

.float-left {
  float: left;
  margin-left: 5px;
}

.float-right {
  float: right;
  margin-right: 5px;
}

footer {
  height: .7rem;
  text-align: center;
}

.hidden-text{
  color: #dde0da;
}
/* <!-- HTML !-->
<button class="button-3" role="button">Button 3</button> */

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 5px 5px 5px 5px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 95px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

@media only screen and (max-width: 600px) {
  h1, h2 {
    margin: 10px;
  }
  p {
    margin-bottom: 5px;
  }
  img {
    max-height: 65%;
    max-width: 14%;
  }
  .control {
    width: 100%;
  }
  .cardarea {
    height: 110px;
  }
  .button-3 {
    line-height: 10px;
  }
}
